$color-primary: #18181b;
$color-secondary: #04ffff;
$color-white: #fff;
$font-stack: "Inter", sans-serif;
$nav-height-mobile: 80px;
html {
	scroll-behavior: smooth;
}
@mixin breakpoint-tablet {
	@media (width >= 768px) {
		@content;
	}
}
@mixin breakpoint-desktop {
	@media (width >= 1024px) {
		@content;
	}
}
@mixin breakpoint-large-desktop {
	@media (width >= 1440px) {
		@content;
	}
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	font-family: $font-stack;
	color: $color-primary;
	overflow-x: hidden;
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100vw;
}
h1,
h2,
h3 {
	font-weight: 300;
	b {
		font-weight: bold;
	}
}
.divider {
	margin: auto;
	width: 80vw;
	padding: 10px;
	border-bottom: 0.7px solid rgba($color-primary, 0.19);
	@include breakpoint-large-desktop {
		padding: 40px;
	}
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
.swiper-scrollbar {
	height: 1px !important;
	.swiper-scrollbar-drag {
		height: 1.5px;
		background-color: $color-primary;
	}
}

.btn {
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 20px;
	font-weight: 500;
	font-size: 1rem;
	&--contact {
		background-color: $color-primary;
		color: $color-white;
		margin: 40px 0;
	}
	&--border {
		position: relative;
		background: none;
		overflow: hidden;
		color: $color-primary;
		border: 1px solid $color-primary;
		padding: 6px 15px;
		transition: all 0.3s ease;
		&:hover {
			background-color: $color-primary;
			color: $color-white;
		}
	}
	&--submit {
		width: 150px;
		background-color: $color-primary;
		color: $color-white;
		font-size: 0.75rem;
		padding: 8px 10px;
		border: none;
		cursor: pointer;
	}
}
.header {
	grid-area: header;
}
.nav {
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 40px;
	transition: all 0.5s ease;
	z-index: 90;
	background-color: transparent;
	&--scrolled {
		background-color: rgba(0, 0, 0, 0.2);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}
	@include breakpoint-tablet {
		.nav__toggle {
			color: $color-white;
		}
	}
	@include breakpoint-desktop {
		padding: 1rem 5rem;
	}
	@include breakpoint-large-desktop {
		padding: 1.1rem 6.25rem;
	}
	&__logo {
		width: 130px;
		transition: all 0.3s ease-in-out;
	}
	&__toggle {
		background: none;
		border: none;
		cursor: pointer;
		color: $color-secondary;
		font-size: 2rem;
		transition: all 0.5s ease;
	}
}
.sidebar {
	position: fixed;
	top: 0;
	right: -100%;
	width: 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 40px;
	background-color: $color-secondary;
	transition: all 0.5s ease, opacity 0.5s ease;
	z-index: 900;
	@include breakpoint-large-desktop {
		width: 400px;
	}
	&--active {
		right: 0;
		z-index: 1000;
		opacity: 1;
	}
	&__language {
		font-weight: bold;
		text-decoration: underline;
		font-size: 1.25rem;
		color: $color-primary;
	}
	&__menu {
		list-style: none;
		padding: 0;
	}
	&__item {
		margin-bottom: 20px;
	}
	&__link {
		text-decoration: none;
		color: $color-primary;
		font-size: 1rem;
		font-weight: 500;
		text-transform: uppercase;
	}
}
main {
	grid-area: main;
}
.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-image: url("../images/bgMain.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	height: 100vh;
	@include breakpoint-desktop {
		height: 493px;
	}
	@include breakpoint-large-desktop {
		height: 740px;
		padding: 3rem 7.5rem;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.185);
		z-index: 1;
		@include breakpoint-desktop {
			height: 493px;
		}
		@include breakpoint-large-desktop {
			height: 740px;
		}
	}
	&__title {
		font-size: 3rem;
		color: $color-white;
		padding: 50px;
		z-index: 10;
		span {
			color: $color-secondary;
		}
		@include breakpoint-desktop {
			padding: 0 5rem;
			padding-right: 400px;
		}
		@include breakpoint-large-desktop {
			padding: 7.5rem;
			font-size: 4rem;
			padding-right: 30rem;
		}
	}
	&__scroll-link {
		z-index: 10;
	}
	&__scroll-indicator {
		font-size: 2rem;
		color: $color-white;
		margin-bottom: 20px;
		z-index: 10;
	}
}
.description-section {
	max-width: 1440px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	padding: 2.2rem;
	@include breakpoint-desktop {
		padding: 3rem 5rem;
	}
	@include breakpoint-large-desktop {
		padding: 3rem 7.5rem;
	}
	&__slider {
		width: 100%;
		overflow: hidden;
	}
	&__btn-wrapper {
		display: flex;
		justify-content: flex-end;
		@include breakpoint-tablet {
			width: 450px;
			justify-content: start;
		}
	}
	.logo-brand {
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 130px;
		height: 100px;
		@include breakpoint-desktop {
			width: 200px;
			height: 80px;
		}
		&.swiper-slide {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&--mood {
			background-image: url("../images/logomood.webp");
		}
		&--infinity {
			background-image: url("../images/logoinfinity.webp");
		}
		&--supernova {
			background-image: url("../images/logosupernova.webp");
		}
		&--conexo {
			background-image: url("../images/logoconexo.webp");
		}
		&--spventures {
			background-image: url("../images/logospventures.webp");
		}
		&--publicpartners {
			background-image: url("../images/logopublicpartners.webp");
		}
	}
	&__content {
		width: 100%;
		@include breakpoint-desktop {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__text {
		&--primary {
			font-size: 1.25rem;
			@include breakpoint-tablet {
				font-size: 1.5rem;
				width: 600px;
			}
			@include breakpoint-large-desktop {
				width: 700px;
				font-size: 2.5rem;
			}
		}
		&--secondary {
			font-size: 0.9rem;
			@include breakpoint-tablet {
				width: 450px;
			}
			@include breakpoint-large-desktop {
				font-size: 1.125rem;
			}
		}
	}
	&__secondary {
		width: 100%;
		font-size: 0.9rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		@include breakpoint-tablet {
			align-items: flex-end;
			:nth-child(1) {
				display: flex;
				justify-content: flex-end;
				flex-direction: column;
			}
		}
		@include breakpoint-large-desktop {
			height: 150px;
		}
		.btn {
			display: flex;
			justify-content: flex-end;
		}
	}
}
.news-section {
	position: relative;
	padding: 2.2rem;
	max-width: 1440px;
	margin: auto;
	@include breakpoint-desktop {
		padding: 2.5rem 5rem;
	}
	@include breakpoint-large-desktop {
		padding: 2.5rem 7.5rem;
	}
	&__title {
		font-size: 2rem;
		@include breakpoint-tablet {
			font-size: 2.5rem;
			margin: 0;
			padding-bottom: 2rem;
		}
		@include breakpoint-desktop {
			padding-right: 300px;
		}
		@include breakpoint-large-desktop {
			font-size: 4rem;
			padding-right: 300px;
		}
	}
	.news-card {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 300px;

		&__image {
			width: 100%;
		}
		&__title {
			font-size: 0.9rem;
			font-weight: 600;
			text-transform: uppercase;
			margin: 0;
		}
		&__description {
			font-size: 0.8rem;
			margin: 0;
		}
		&__link-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__link {
			color: $color-primary;
			text-decoration: none;
			border-bottom: 1px solid #18181b;
		}
	}
	&__slider {
		padding-bottom: 4rem;
		width: 100%;
		overflow: hidden;
		position: relative;
	}
	&__wrapper {
		padding-bottom: 2.5rem;
	}
	&__btn-wrapper {
		display: flex;
		justify-content: flex-end;
		padding-top: 2rem;
	}
}
.contact-form-section {
	padding: 2.2rem;
	@include breakpoint-tablet {
		max-width: 1440px;
		margin: auto;
		color: $color-primary;
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
	@include breakpoint-desktop {
		padding: 2.5rem 5rem;
	}
	@include breakpoint-large-desktop {
		padding: 2.5rem 7.5rem;
	}
	&__title {
		font-size: 2rem;
		margin: 0;
	}
	&__subtitle {
		font-size: 0.8rem;
		text-align: start;
	}
}
.contact-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__input {
		background-color: transparent;
		padding: 10px 0;
		outline: none;
		border: none;
		border-bottom: 1px solid $color-primary;
		color: $color-primary;
		&::placeholder {
			color: $color-primary;
			font-size: 0.8rem;
		}
	}
	&__textarea {
		@extend .contact-form__input;
		font-size: 0.8rem;
		resize: none;
		font-family: $font-stack;
		&::placeholder {
			height: auto;
			font-family: $font-stack;
		}
	}
	.container-button {
		width: 100%;
		display: flex;
		justify-content: end;
	}
	&__btn-wrapper {
		display: flex;
		justify-content: flex-end;
	}
}
.footer {
	grid-area: footer;
	background-color: $color-primary;
	color: $color-white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 1.5rem;
	@include breakpoint-tablet {
		padding: 2.5rem 4rem;
	}
	@include breakpoint-large-desktop {
		padding: 3rem 7.5rem;
	}
	&__scroll-top {
		font-size: 1.7rem;
		color: #fff;
	}
	&__brand-info {
		display: flex;
		max-width: 1440px;
		width: 100%;
		flex-direction: column;
		align-items: center;
		font-size: 1.25rem;
		text-transform: uppercase;
		@include breakpoint-tablet {
			gap: 0.6rem;
			font-size: 1.2rem;
		}
		@include breakpoint-desktop {
			font-size: 1.5rem;
			gap: 3rem;
			flex-direction: row;
		}
	}
	&__brand-name {
		font-weight: 800;
	}
	&__tagline {
		width: fit-content;
		margin: 0;
		text-align: center;
		padding: 0 2rem;
		letter-spacing: 0.3rem;
		@include breakpoint-tablet {
			padding: 0;
		}
	}
	&__main-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		max-width: 1440px;
		width: 100%;
		@include breakpoint-desktop {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	&__socials {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		@include breakpoint-tablet {
			width: 250px;
			order: 1;
		}
	}
	&__social-link {
		color: $color-white;
		text-decoration: none;
		i {
			font-size: 1.8rem;
		}
	}
	&__contact-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		@include breakpoint-desktop {
			flex-direction: row;
			gap: 8rem;
		}
		@include breakpoint-large-desktop {
			gap: 22rem;
		}
	}
	&__regional-presence {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;

		@include breakpoint-desktop {
			width: fit-content;
			align-items: flex-start;
			text-align: start;
		}
	}
	&__presence-title {
		font-size: 0.81rem;
	}
	&__countries-list {
		font-size: 0.75rem;
		text-align: center;
		color: $color-white;
		display: flex;
		flex-direction: column;
		@include breakpoint-desktop {
			text-align: start;
		}
	}
	&__mail-link {
		font-size: 0.75rem;
		text-align: center;
		color: $color-white;
		@include breakpoint-desktop {
			width: fit-content;
		}
	}
	&__legacy {
		font-size: 0.65rem;
	}
}
